.pageWrapper {
    padding: 0;
    min-height: 100vh;
    background-color: lightgreen;
}

.contentWrapper {
    border-radius: 50px 50px 0px 0px;
    min-height: 100vh;
    background-color: var(--white-primary);
}

.menuWrapper {
    background-color: var(--white-primary);
    padding: 10%;
}

.menuWrapper h5 {
    font-weight: bold;
}

.itemMenu {
    min-width: 200px;
    min-height: 200px;
    background-color: lightcoral;
    border-radius: 20%;
}

.itemMenu a {
    text-decoration: none;
}

.bold {
    font-weight: 900;
}